*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

header{
    background-color: #FF6900;
}

.logo{
    width: 100px;
    padding: 10px;
}

.row-header{
    width: 100%;
    display: flex;
}

.col-header{
    width: calc(100%/3);
    display: flex;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: sans-serif;
}

li{
    padding: 2px;
}

footer{
    background-color: #1A1A1A;
    height: 100px;
}

.conteiner{
    width: 100%;
    padding: 20px;
    background-color: white;
}

.row{
    width: 100%;
    display: flex;
    gap: 20px 20px;
    flex-wrap: wrap;
}

.col-33{
    width: calc(100% /3  - 20px);
    background-color: #DCDCDC;
    height: 400px;
}

.justify-content-center{
    justify-content: center;
}

.aling-items-center{
    align-items: center;
}

.justify-content-end{
    justify-content: flex-end;
}

